/* .rbc-time-view .rbc-allday-cell {
  display: none;
} */

/* .rbc-event {
  padding: 0px !important;
  border: none !important;
  background-color: transparent !important;
} */

.rbc-event-label {
  display: none !important;
}

.rbc-today {
  background-color: #22c55e50 !important;
  opacity: 1 !important;
}

.rbc-current-time-indicator {
  height: 2px;
}
